[Desktop Entry]
Name=Sorex Launcher
Comment=Premium Minecraft Launcher
Exec=sorex-launcher
Icon=com.sorexclient.launcher
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=sorex-launcher
